.btn {
    display:inline-block;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #0065D9;
    font-size: 18px;
    color: #E2FFFF;
    }