body {
    background-color: #75C4D9;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        margin-top: 100px;
        position: relative;
        }
        .left-column {
            display: inline-block;
            width: 40%;
            float: left;
            padding: 40px;
            padding-bottom: 20px;
            position: absolute;
            top: 30px;
            bottom: 40px;
            color: #E2FFFF;
            background-color: #5B7ED9;
        }
            .page-title {
                display: inline-block;
                width: 100%;
            }
            .bottom-links {
                display: inline-block;
                width: 100%;
                position: absolute;
                bottom: 20px;
                left: 40px;
                right: 40px;
                }
                .bottom-links > .link {
                    color: #E2FFFF;
                }
                .bottom-links > .text {

                }
        .right-column {
            display: inline-block;
            width: 60%;
            float: right;
            padding: 60px;
            padding-bottom: 40px;
            position: relative;
            background-color: white;
        }
            .close {
                display: inline-block;
                width: 60px;
                line-height: 60px;
                background-color: peru;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
            }
            
