body {
    background-color: #75C4D9;
}
    .container {
        display: inline-block;
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        margin-top: 100px;
        background-color: red;
    }
        .left-column {
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 40px;
            padding: 40px;
            padding-bottom: 20px;
            color: #E2FFFF;
            background-color: #5B7ED9;
        }
            .page-title {
                display: inline-block;
                width: 100%;
            }
            .bottom-links {
                display: inline-block;
                width: 100%;
                }
                .bottom-links > .link {
                    color: #E2FFFF;
                }
                .bottom-links > .text {

                }
        .right-column {
            display: inline-block;
            width: 60%;
            float: left;
            padding: 60px;
            padding-bottom: 40px;
            background-color: white;
        }
            .close {

            }
            
